{% extends './layouts/main' %}

{% set page_title = 'Mr. and Ms. STI 2017' %}
{% set body_class = 'main-page' %}

{% block content %}
  <section class="hero is-dark is-bold has-contents-below">
    <div class="hero-body">
      <div class="container">
        <div class="level">
          <div class="level-left">
            <div class="media site-header">
              <div class="media-left">
                <figure class="image">
                  <img src="/assets/img/logo-100.png" alt="Logo" />
                </figure>
              </div>

              <div class="media-content">
                <h1 class="title">Mr. and Ms. STI 2017</h1>
                <h2 class="subtitle">Vote for Netizen&lsquo;s Choice Award</h2>
              </div>
            </div>
          </div>

          <div class="level-right">
            <div v-if="user == null">
              <button class="button is-info is-medium"
                @click="fbLogin"
                :disabled="ui.button.fbLoginDisabled"
                :class="{'is-loading': ui.button.fbLoginDisabled}">

                <span class="icon">
                  <i class="fa fa-facebook"></i>
                </span>

                <span>Login with Facebook</span>
              </button>
            </div>

            <div v-else>
              <article class="media user">
                <div class="media-left is-hidden-desktop">
                  <figure class="image is-64x64">
                    <img :src="user.avatar" />
                  </figure>
                </div>

                <div class="media-content">
                  <div class="content">
                    <h1 class="title">
                      <small>Logged in as</small>
                      {{ '{{ user.name }}' }}
                    </h1>

                    <p class="logout">
                      <a href="#logout" @click.prevent="logout">
                        <span class="icon is-small">
                          <i class="fa fa-sign-out"></i>
                        </span>

                        <small>Logout</small>
                      </a>
                    </p>
                  </div>
                </div>

                <div class="media-right is-hidden-touch">
                  <figure class="image is-64x64">
                    <img :src="user.avatar" />
                  </figure>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container has-contents-below" v-cloak>
    {% raw %}
      <div class="columns" v-for="category in categories">
        <div class="column">
          <div class="level">
            <div class="level-left">
              <h1 class="title">{{ category.name }}</h1>
            </div>
            <div class="level-right">
              <span class="tag is-warning is-large" v-if="!category.is_active">
                <span class="icon">
                  <i class="fa fa-exclamation-circle"></i>
                </span>

                <span>Voting Closed</span>
              </span>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-one-quarter"
              v-for="candidate in candidates"
              v-if="candidate.category_id == category.id">

              <div class="card candidate" :class="{
                'is-selected': isVoted(candidate.id),
                'is-disabled': user && isCategoryTaken(candidate.category_id) && !isVoted(candidate.id)
              }">

                <div class="card-image">
                  <figure class="image is-1by1">
                    <img :src="'/storage/' + candidate.picture_path" alt="Image" />
                    <span class="tag vote-count"
                      v-show="ws.connected"
                      :class="{
                        'pulse': candidate.pulse,
                        'is-light': candidate.votes == 0,
                        'is-info': candidate.votes > 0,
                        'is-success': isVoted(candidate.id) }
                      ">

                        <span>{{ candidate.votes | format }}&nbsp;</span>
                        <span v-if="candidate.votes == 1">vote</span>
                        <span v-else>votes</span>
                      </span>
                  </figure>
                </div>

                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">{{ candidate.name }}</p>

                      <div v-if="user && category.is_active">
                        <button class="button is-small is-fullwidth vote-button"
                          @click="vote(candidate.id)"
                          :class="{
                            'is-success': isVoted(candidate.id),
                            'is-static': isCategoryTaken(candidate.category_id) && !isVoted(candidate.id)
                          }">

                          <span class="icon is-small">
                            <i class="fa" :class="{
                              'fa-thumbs-o-up': !isVoted(candidate.id),
                              'fa-check': isVoted(candidate.id)
                            }"></i>
                          </span>

                          <span v-if="isVoted(candidate.id)">Voted</span>
                          <span v-else>Vote</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endraw %}
  </div>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>STI College Novaliches</p>
        <p>
          <a href="{{ route('docs.tos') }}">Terms of Service</a>
          <span>&bullet;</span>
          <a href="{{ route('docs.pp') }}">Privacy Policy</a>
        </p>
      </div>
    </div>
  </footer>

  <b-modal :active.sync="ui.modal.showLoginPrompt" :width="480">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Login with Facebook</p>
      </header>

      <div class="card-content">
        <div class="content">
          <p>To vote for your netizen&lsquo;s choice, please login with your Facebook account.</p>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item" @click.prevent="fbLoginFromModal">
          <span class="icon is-small">
            <i class="fa fa-facebook"></i>
          </span>

          <span>Login with Facebook</span>
        </a>
      </footer>
    </div>
  </b-modal>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var connect = true

    var user = {{ user | json | safe }}

    var categories = {{ categories | json | safe }}

    var candidates = {{ candidates | json | safe }}
</script>
{% endblock %}
