<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <!--
    ╭──────────────────────────────────────────╮
    │        Front-end & Back-end Dev't        │
    ╞══════════════════════════════════════════╡
    │             RAPHAEL MARCO                │
    │                                          │
    │           pinodex.github.io              │
    │        raphaelmarco@outlook.com          │
    ╰──────────────────────────────────────────╯
  -->
  <meta name="csrf-token" value="{{ csrfToken }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% if extended_meta_tags %}
  <meta name="description" content="Vote your Mr. and Ms. STI for the Netizen&lsquo;s Award" />
  <meta property="fb:app_id" content="{{ config('facebook.app_id') }}" />
  <meta property="og:title" content="{{ page_title }} - STI College Novaliches" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ config('app.base_url') + request.url() }}" />
  <meta property="og:description" content="Vote your Mr. and Ms. STI for the Netizen&lsquo;s Award" />
  <meta property="og:image" content="{{ config('app.base_url') }}/assets/img/og-image.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/icon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/icon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/icon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/icon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/icon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/icon/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" href="/assets/icon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/icon/android-chrome-192x192.png" sizes="192x192" />
  <link rel="icon" type="image/png" href="/assets/icon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/assets/icon/favicon-16x16.png" sizes="16x16" />
  <link rel="shortcut icon" href="/assets/icon/favicon.ico" />
{% endif %}
  <title>{{ page_title }} - STI College Novaliches</title>
  <link rel="stylesheet" type="text/css" href="{{ mix('/assets/css/bulma.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ mix('/assets/css/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ mix('/assets/css/font-awesome.css') }}" />
</head>
<body class="{{ body_class }}">
  <div id="app">
    {% block content %}{% endblock %}
  </div>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{ config('facebook.app_id') }}',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ config('app.google_analytics_code') }}', 'auto');
    ga('send', 'pageview');
  </script>

  {% block scripts %}{% endblock %}

  <script src="{{ mix('/assets/js/manifest.js') }}"></script>
  <script src="{{ mix('/assets/js/vendor.js') }}"></script>
  <script src="{{ mix('/assets/js/app.js') }}"></script>
</body>
</html>
